* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  color: rgb(53, 53, 53);
  padding: 4px 20px;
  font-family: ' Times New Roman', Times, serif, Almendra;
}

.title-header {
  margin: 0;
  display: flex;
  align-items: center;
}

.trybewarts-header-logo {
  width: 50px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input {
  margin: 6px;
  width: 200px;
  height: 30px;
}

.trybewarts-login input::placeholder {
  font-family: ' Almendra'' Franklin Gothic Medium', ' Arial Narrow', Arial, sans-serif;
}

.btn-primary {
  background-color: rgb(53, 53, 53);
  border-color: rgb(53, 53, 53);
  width: 110px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary:hover {
  background-color: rgb(21, 21, 21);
  border-color: rgb(21, 21, 21);
}

main {
  display: flex;
  justify-content: space-evenly;
  font-family: ' Times New Roman', Times, serif, Almendra;
}

h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.5rem;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  padding: 30px;
}

#inputs {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
}

#trybewarts-forms-logo {
  height: 500px;
}

#div-check {
  display: flex;
  justify-content: space-between;
}

.input-left {
  display: flex;
  padding: 10px 0;
}

.input-rigth {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

#input-name {
  margin-right: 5px;
}

#input-email {
  width: 50%;
  margin-right: 5px;
}

#select {
  display: flex;
  align-items: center;
  width: 50%;
}

.conteiner-check {
  display: flex;
  flex-direction: column;
}

.conteiner-check:nth-child( 1 ) {
  width: 50%;
}

.conteiner-check:nth-child( 2 ) {
  width: 50%;
}

footer {
  bottom: 0;
  margin-top: 2rem;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
}
