* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  color: rgb(53, 53, 53);
  padding: 4px 20px;
  font-family: ' Times New Roman', Times, serif, Almendra;
}

.title-header {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.trybewarts-header-logo {
  width: 65px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input {
  margin: 6px;
  width: 150px;
  height: 37px;
  font-size: 0.9rem;
}

.trybewarts-login input::placeholder {
  font-family: ' Almendra'' Franklin Gothic Medium', ' Arial Narrow', Arial, sans-serif;
}

.btn-primary {
  background-color: rgb(53, 53, 53);
  border-color: rgb(53, 53, 53);
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary:hover {
  background-color: rgb(21, 21, 21);
  border-color: rgb(21, 21, 21);
}

main {
  display: flex;
  justify-content: space-evenly;
  font-family: ' Times New Roman', Times, serif, Almendra;
  font-weight: 700;
}

h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.7rem;
  font-weight: 900;
}

label {
  padding: 4px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  padding: 30px;
}

#inputs {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.274);
  margin-bottom: 10px;
}

#trybewarts-forms-logo {
  height: 500px;
  padding: 30px;
}

#div-check {
  display: flex;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.274);
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.input-left {
  display: flex;
  padding: 10px 0;
}

.input-rigth {
  display: flex;
  align-items: center;
  padding-bottom: 18px;
}

#input-email {
  width: 50%;
}

#select {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.conteiner-check {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.conteiner-check:nth-child( 1 ) {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.conteiner-check:nth-child( 2 ) {
  width: 60%;
}

#checkbox {
  display: flex;
  flex-flow: column wrap;
  height: 120px;
}


.textarea textarea {
  resize: none;
}

.textarea label {
  margin: 10px 0;
}

#assessment-radio label {
  padding: 2px;
}

footer {
  bottom: 0;
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
}
